<!DOCTYPE html>
<html>
<head>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>季路学旅 - 向全世界输入中国式品格教育</title>
<link rel="stylesheet" type="text/css" href="./css/styles.css">
<style type="text/css">
html, body {
  background: #F2F2F2;
}
</style>
</head>

<body>
<div class="page-wrapper page-contact" id="app">
  <com-header></com-header>

  <div class="page-content">
    <div class="page-block">
      <img src="./images/contact/contact-1.jpg" />
    </div>
    <div class="form-wrapper">
      <div class="form" ref="form" model="formData" rules="formRules">
        <div class="form-item" prop="name">
          <label class="form-item__label">姓名</label>
          <div class="form-item__content">
            <div class="input">
              <input type="text" class="input__inner" v-model="formData.name" />
            </div>
            <div class="form-item__error"></div>
          </div>
        </div>

        <div class="form-item" prop="email">
          <label class="form-item__label">电子邮箱</label>
          <div class="form-item__content">
            <div class="input">
              <input type="text" class="input__inner" v-model="formData.email" />
            </div>
            <div class="form-item__error"></div>
          </div>
        </div>

        <div class="form-item" prop="phone">
          <label class="form-item__label">联络手机</label>
          <div class="form-item__content">
            <div class="input">
              <input type="text" class="input__inner" v-model="formData.phone" />
            </div>
            <div class="form-item__error"></div>
          </div>
        </div>

        <div class="form-item" prop="wechat">
          <label class="form-item__label">微信</label>
          <div class="form-item__content">
            <div class="input">
              <input type="text" class="input__inner" v-model="formData.wechat" />
            </div>
            <div class="form-item__error"></div>
          </div>
        </div>

        <div class="form-item" prop="grade">
          <label class="form-item__label">年级</label>
          <div class="form-item__content">
            <div class="input">
              <input type="text" class="input__inner" v-model="formData.grade" />
            </div>
            <div class="form-item__error"></div>
          </div>
        </div>

        <div class="form-item" prop="content">
          <label class="form-item__label">联系内容</label>
          <div class="form-item__content">
            <div class="input">
              <textarea rows="5" class="input__inner" v-model="formData.content"></textarea>
            </div>
            <div class="form-item__error"></div>
          </div>
        </div>

        <div class="form-item">
          <label class="form-item__label"></label>
          <div class="form-item__content">
            <button class="button is-loading" @click="validate" :disabled="false">送出</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <com-footer></com-footer>
</div>

<script type="text/javascript" src="./js/vue.min.js"></script>
<script type="text/javascript" src="./js/components/header.js"></script>
<script type="text/javascript" src="./js/components/footer.js"></script>
<script type="text/javascript" src="./js/contact.js"></script>
</body>
</html>